<div>
	<form class="form-horizontal" ng-submit="saveCitizen()">
		<div class="form-group">
			<label class="col-lg-3 control-label" for="identification"><strong>Cédula:</strong></label>
			<div class="col-lg-9">
				<input class="form-control" type="text" id="identification" placeholder="Cédula" autofocus ng-model="citizen.identification" ng-required="true" only-numbers>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" for="first_name"><strong>Nombres:</strong></label>
			<div class="col-lg-9">
				<input class="form-control" type="text" id="first_name" placeholder="Nombres" ng-model="citizen.first_name" ng-required="true" only-letters>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" for="last_name"><strong>Apellidos:</strong></label>
			<div class="col-lg-9">
				<input class="form-control" type="text" id="last_name" placeholder="Apellidos" ng-model="citizen.last_name" ng-required="true" only-letters>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" for="address"><strong>Dirección:</strong></label>
			<div class="col-lg-9">
				<textarea class="form-control" id="address" placeholder="Dirección" rows="3" ng-model="citizen.address" ng-required="true"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" for="number_phone"><strong>Teléfono:</strong></label>
			<div class="col-lg-9">
				<div class="col-xs-3 padding-none">
					<select type="role" class="form-control" name="prefix_phone" id="prefix_phone" ng-options="prefix.operator as prefix.operator for prefix in prefixesPhone" ng-model="citizen.prefix_phone" ng-required="true"></select>
				</div>
				<div class="col-xs-9 padding-none">
					<input class="form-control" type="text" id="number_phone" placeholder="Teléfono" ng-model="citizen.number_phone" ng-required="true" only-numbers>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label" for="parish"><strong>Parroquia:</strong></label>
			<div class="col-lg-9">
				<select type="role" class="form-control" name="parish" id="parish" ng-options="parish.id as parish.name for parish in parishes" ng-model="citizen.parish" ng-required="true">
					<!-- <option value="1">Coronel Mariano Peraza</option>
					<option value="2">Cuara</option>
					<option value="3">Diego de Lozada</option>
					<option value="4">José Bernardo Dorante</option>
					<option value="5">Juan Bautista Rodríguez</option>
					<option value="6">Paraíso de San José</option>
					<option value="7">San Miguel</option>
					<option value="8">Tintorero</option> -->
				</select>
			</div>
		</div>
		<div class="align-center">
			<button type="button" class="btn btn-link btn-sm" ng-click="cancelCitizen()">{{button.cancel}}</button>
			<button type="submit" class="btn btn-primary btn-sm">{{button.submit}}</button>
		</div>
	</form>
</div>