<!-- <form class="form-horizontal"> -->
<input class="form-control" type="text" placeholder="Buscar Solicitante">
<!-- </form> -->
<div class="table-responsive">
	<table class="table table-hover" st-pipe="callServer()" st-table="displayed">
		<thead>
			<tr>
				<th st-sort="identification">Cédula / RIF</th>
				<th st-sort="full_name">Nombre</th>
			</tr>
			<tr>
				<th><input class="form-control" type="text" st-search="identification"></th>
				<th><input class="form-control" type="text" st-search="full_name"></th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr ng-repeat="row in displayed">
				<td>{{row.identification}}</td>
				<td>{{row.full_name}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
				<td colspan="4" class="text-center">Loading ... </td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="text-center" st-pagination="" st-items-by-page="8" colspan="4">
				</td>
			</tr>
		</tfoot>
	</table>
</div>