<div class="col-md-6">
	<div>
		<alert ng-repeat="alert in solicitude.alerts" type="{{alert.type}}" close="closeAlertSolicitude($index)">{{alert.message}}</alert>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal" ng-submit="">
				<fieldset>
					<legend>Solicitud</legend>
					<div class="form-group">
						<label class="col-lg-4 control-label" for="solicitude_number">Nº de Solicitud</label>
						<div class="col-lg-8">
							<input class="form-control" type="text" id="solicitude_number" placeholder="Nº de Solicitud" onkeypress="return solicitudeNumberMask(this,event);" ng-model='solicitude_number' ng-required="true">
						</div>
					</div>
					<div class="form-group" ng-controller="DatepickerCtrl">
						<label class="col-lg-4 control-label" for="reception_date">Fecha de Recepción</label>
						<div class="col-lg-8">
							<p class="input-group">
								<input class="form-control" type="text" id="reception_date" placeholder="Fecha de Recepción" onkeydown="return noKey(event);" datepicker-popup="dd-MM-yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" picker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Cerrar">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 control-label">Razon Social</label>
						<div class="col-lg-8">
							<div class="radio">
								<label>
									<input type="radio" name="identification_type" value='Natural' ng-click='getApplicant("citizen")'>
									Natural
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="identification_type" value="Jurídica" ng-click='getApplicant("institution")'>
									Jurídica
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 control-label">{{applicantType | indentification}}</label>
						<div class="col-lg-8">
							<label class="form-label">{{identification}}</label>
							<input type="hidden" name="applicantId" value="{{applicantId}}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 control-label">Solicitante</label>
						<div class="col-lg-8">
							<label class="form-label">{{full_name}}</label>
						</div>
					</div>
					<div class="form-group" ng-controller="DatepickerCtrl">
						<label class="col-lg-4 control-label" for="document_date">Fecha del Documento</label>
						<div class="col-lg-8">
							<p class="input-group">
								<input class="form-control" type="text" id="document_date" placeholder="Fecha del Documento" onkeydown="return noKey(event);" datepicker-popup="dd-MM-yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" picker-options="dateOptions" ng-required="true" close-text="Cerrar">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12">
							<label class="col-lg-4 control-label" for="topic">Asunto</label>
							<textarea class="form-control" id="topic" placeholder="Asunto" rows="3"></textarea>
						</div>
					</div>
					<div class="col-md-7 col-md-offset-3">
						<button type="reset" class="btn btn-default" ng-click="clear()">Cancelar</button>
						<button type="submit" class="btn btn-primary">Guardar</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div ng-include="template"></div>