<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" ng-submit="saveSolicitude()">
        <fieldset>
          <legend>Asignación</legend>
          <div>
            <!-- <p>Lista de Temas</p> -->
            <!-- <ui-select multiple ng-model="selected.themes" theme="select2" style="width: 100%;"> -->
            <ui-select multiple ng-model="selected.themes">
              <ui-select-match placeholder="Seleccione el tema...">{{$item.name}}</ui-select-match>
              <ui-select-choices group-by="someGroupFn" group-filter repeat="theme in themes | filter:$select.search">
                {{ theme.name }}
              </ui-select-choices>
            </ui-select>
          </div>
          <div>
            <table>
              <tr ng-repeat="(key, theme) in selected.themes">
                <td style="min-width: 20px;">
                  <span class="glyphicon glyphicon-time" ng-if="!theme.state"></span>
                  <span class="glyphicon glyphicon-ok" ng-if="theme.state"></span>
                </td>
                <td style="min-width: 450px;">{{ theme.name }}</td>
                <td><button class="btn btn-xs btn-success" ng-click="assignArea(key, theme.name)">Asignar Area</button></td>
              </tr>
            </table>
          </div>
          <div>
            <!-- <button class="btn btn-primary btn-sm" ng-click="">Asignar Areas</button> -->
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>