<div class="col-md-6 col-lg-5">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" name="form" ng-submit="saveSolicitude()">
        <fieldset>
          <legend>Asignación</legend>
          <div>
            <!-- <p>Lista de Temas</p> -->
            <!-- <ui-select multiple ng-model="selected.themes" theme="select2" style="width: 100%;"> -->
            <ui-select multiple ng-model="selected.themes">
              <ui-select-match placeholder="Seleccione el tema...">{{$item.name}}</ui-select-match>
              <ui-select-choices group-by="someGroupFn" repeat="theme in themes | filter:$select.search">
                {{ theme.name }}
              </ui-select-choices>
            </ui-select>
          </div>
          <div>
            <table>
              <tr ng-repeat="(key, theme) in selected.themes">
                <td style="width: 4%;">
                  <span class="glyphicon glyphicon-time text-danger" ng-if="!theme.state"></span>
                  <span class="glyphicon glyphicon-ok text-success" ng-if="theme.state"></span>
                </td>
                <td style="width: 85%;">{{ theme.name }}</td>
                <td style="width: 10%;">
                  <button class="btn btn-xs btn-success" ng-hide="theme.state" ng-click="assignArea(key, theme)">Asignar Área</button>
                  <button class="btn btn-xs btn-warning" ng-show="theme.state" ng-click="editArea(key, theme)">Editar Área</button>
                </td>
              </tr>
            </table>
          </div>
          <div ng-if="selected.themes.length" class="text-center">
            <button class="btn btn-info btn-sm" ng-class="disablePreview()" ng-click="preview()">Visualizar</button>
            <button class="btn btn-primary btn-sm" ng-class="disableFinalize()" ng-click="finalize()">Finalizar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>