<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" ng-submit="saveSolicitude()">
        <fieldset>
          <legend>Asiganción</legend>
          <div>
            <!-- <p>Lista de Temas</p> -->
            <ui-select multiple ng-model="selected.themes">
              <ui-select-match placeholder="Seleccione tema...">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="theme in themes | filter:$select.search">
                {{ theme.name }}
              </ui-select-choices>
            </ui-select>
      <button ng-click="mostrar()">Seleccionados</button>
      </div>
      <!-- <div class="col-lg-6">
        <p>Temas Seleccionados</p> -->
        <!-- <select multiple size='10' class="form-control" name="parish" id="parish" ng-options="theme.name for theme in themes" ng-model="citizen.parish" ng-required="true">
        </select> -->
      </div>
    </fieldset>
  </form>
</div>
</div>
</div>