<div class="table-responsive">
	<table class="table table-hover margin-none" st-pipe="callServer" st-table="displayed" st-safe-src="applicants">
		<thead>
			<!-- <tr>
				<th class="" st-sort="identification">{{applicant_type | indentification}}</th>
				<th class="" st-sort="full_name">Nombre</th>
			</tr> -->
			<tr>
				<th class="col-xs-4"><input class="col-xs-12" type="text" placeholder="{{ solicitude.applicant_type | indentification }}" st-search="identification"></th>
				<th><input class="col-xs-12" type="text" placeholder="Nombre" st-search="full_name"></th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading">
			<tr class="pointer" st-select-row="row" st-select-mode ng-repeat="row in displayed" ng-click="selectApplicant(row.id, row.identification, row.full_name)">
				<td>{{row.identification}}</td>
				<td>{{row.full_name}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
				<td colspan="4" class="text-center">
					<small>Cargando...</small>
					<uib-progressbar class="progress-striped active" value="dynamic" type=""></uib-progressbar>
				</td>
			</tr>
		</tbody>
		<tfoot ng-show="!isLoading">
			<tr>
				<td class="text-center" st-pagination st-items-by-page="6" colspan="4"></td>
			</tr>
		</tfoot>
	</table>
</div>