<div class="panel panel-info">
  <div class="panel-heading">Solicitudes de <strong>{{ applicant.type }}</strong></div>
  <div class="panel-body">
    <div class="table-responsive table-small">
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th style="min-width: 80px;">Nº Solicitud</th> -->
            <th style="width: 90px;"><input class="form-control" type="text" placeholder="Nº Solicitud" ng-model="filter.solicitude_number" only-numbers></th>
            <th style="width: 80px;">Recepción</th>
            <!-- <th style="min-width: 64px;">Identificacíon</th> -->
            <th style="width: 100px;"><input class="form-control" type="text" placeholder="Identificacíon" ng-model="filter.identification" only-numbers></th>
            <!-- <th style="min-width: 165px;">Nombre</th> -->
            <th style="width: 230px;"><input class="form-control" type="text" placeholder="Nombre" ng-model="filter.full_name" only-letters></th>
            <!-- <th style="width: 520px;">Asunto</th> -->
            <th style="width: 550px;"><input class="form-control" type="text" placeholder="Asunto" ng-model="filter.topic"></th>
            <!-- <th>Estado</th> -->
            <th style="width: 100px;">
              <select type="role" class="form-control" name="status" id="status" ng-model="filter.status">
                  <option value="">Todo</option>
                  <option value="Recibido">Recibido</option>
                  <option value="Procesando">Procesando</option>
                  <option value="Rechazado">Rechazado</option>
                  <option value="Finalizado">Finalizado</option>
                  <option value="Anulado">Anulado</option>
                </select>
            </th>
            <th style="width: 60px;"></th>
          </tr>
        </thead>
        <tbody>
        <tr class="pointer" ng-repeat="row in applicant | 
          filter:{ solicitude_number : filter.solicitude_number } |
          filter:{ applicant: {identification: filter.identification, full_name: filter.full_name} } |
          filter:{ topic : filter.topic } |
          filter:{ status : filter.status } ">
            <td><a ui-sref="solicitudeShow({id: row.id})">{{ row.solicitude_number }}</a></td>
            <td>{{ row.reception_date | date:'dd-MM-yyyy' }}</td>
            <td>{{ row.applicant.identification }}</td>
            <td>{{ row.applicant.full_name}}</td>
            <td>{{ row.topic | limitTo:190 }}</td>
            <td>{{ row.status }}</td>
            <td>
              <div ng-if="row.status == 'Recibido'">
                <a ui-sref="solicitudeEdit({id: row.id})" uib-tooltip="Editar" class="btn btn-xs btn-warning glyphicon glyphicon-pencil"></a>
                <a ui-sref="solicitudeAssign({id: row.id})" uib-tooltip="Asignar" class="btn btn-xs btn-primary glyphicon glyphicon-ok"></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>