// @import 'nib'
@import 'style'
@import 'dashboard'
// @import 'animate'
@import 'loading-bar'
@import 'ng-alertify'
@import 'ui-select'
@import './theme-ui-select/select2'

*, *:focus
  outline none

body
  padding-top 67px
  background-color #f8f8f8

textarea
  resize none

.btn-circle
  border-radius 50%
  box-shadow 0 2px 5px 0 rgba(0,0,0,.26)
  width 35px
  height 35px
  padding 0
  margin 0em .5em

.form-label
  font-size 14px
  text-align left
  color #2196f3
  padding-top 4px
  margin-bottom 5px

.margin-none
  margin 0

.form-group
  margin-bottom 5px

.padding
  &-right
    padding-right 5px
  &-left
    padding-left 5px !important
  &-none
    padding 0
  

.navbar-brand
  padding 5px 15px

.navbar-brand img, .navbar-brand span
  display inline-block
  vertical-align middle

.sidebar
  background-color white
  box-shadow 0 1px 5px rgba(0, 0, 0, 0.3)
  border-right none

.st-selected
  // background #216eff !important
  background #2196F3 !important
  color white !important

.pointer
  cursor pointer

.align
  &-top
    vertical-align top
  &-center
    text-align center

.table
  select, input[type=text]
    padding 0 0 1px 0
    font-size inherit
    height initial
  
.table-small
  max-height 260px

.modal
  &-header
    padding 5px 15px
    .close
      margin-top 5px
  &-body
    padding 0 15px
    
.pagination
  margin 10px 0

.inline-block
  display inline-block
  
.border-right
  border-right solid 1px #BBBBBB
  padding-right 10px

ui-select
.ui-select
  &-search
    width 100% !important
  &-choices-group-label
    color black
    font-weight bold

.buttom-status
  float left
  display inline-block
  border-radius 50%
  width 10px
  height 10px
  margin-top 7px
  margin-right 10px

.list-none
  list-style none