// @import 'nib'
@import 'style'
@import 'dashboard'
@import 'animate'
@import 'loading-bar'
@import 'ng-alertify'

*, *:focus
  outline none

body
  padding-top 67px
  background-color #f8f8f8

textarea
  resize none

.btn-circle
  border-radius 50%
  box-shadow 0 2px 5px 0 rgba(0,0,0,.26)
  width 35px
  height 35px
  padding 0
  margin 0em .5em

.form-label
  font-size 14px
  text-align left
  color #2196f3
  padding-top 4px
  margin-bottom 5px
.margin-none
  margin 0

.form-group
  margin-bottom 5px

.padding-none
  padding 0

.navbar-brand
  padding 5px 15px

.navbar-brand img, .navbar-brand span
  display inline-block
  vertical-align middle

.sidebar
  background-color white
  box-shadow 0 1px 5px rgba(0, 0, 0, 0.3)
  border-right none

.st-selected
  // background #216eff !important
  background #2196F3 !important
  color white !important

.pointer
  cursor pointer

.align-center
  text-align center
  
.table-small
  max-height 260px
  
.modal
  &-header
    .close
      margin-top 5px
  &-body
    padding 0 15px
    
.pagination
  margin 10px 0