<div class="col-md-12">
	<div ui-view='show'></div>
	<div ui-view='assign'></div>
	<!-- <div ng-include="template"></div> -->
</div>
<script type="text/ng-template" id="modalAssignArea-template">
  <section class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">Asignar Áreas</h4>
    <p><strong>Tema: </strong><em class="text-success">{{ theme.name }}</em></p>

  </section>
  <section class="modal-body form-horizontal">
    <div>
      <ui-select multiple ng-model="selected.areas">
        <ui-select-match placeholder="Seleccione las áreas...">{{$item.name}}</ui-select-match>
        <ui-select-choices repeat="area in areas | filter:$select.search">
          {{ area.name }}
        </ui-select-choices>
      </ui-select>
    </div>
    <div>
    <table>
      <tr ng-repeat="(key, area) in selected.areas">
        <td style="min-width: 20px;" class="align-top">
          <span class="glyphicon glyphicon-pushpin text-info"></span>
        </td>
        <td style="min-width: 485px;">{{ area.name }}
          <div ng-if="area.means.length > 1" ng-repeat="resource in area.means track by $index">
            <label ng-if="$index >= 1"><input type="checkbox" value="1" ng-model="area.meansSelected" ng-true-value="{{resource.id}}" ng-false-value="1">{{resource.name}}</label>
          </div>
        </td>
      </tr>
    </table>
  </div>
  </section>
  <section class="modal-footer">
    <button class="btn btn-sm btn-link" type="button" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-sm btn-primary" type="button" ng-click="ok()">Aceptar</button>
  </section>
</script>