<div class="col-md-12 aling-center" ui-view>
	<div class="col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" name="form" ng-submit="saveSolicitude()">
					<fieldset>
						<legend>Crear Solicitud</legend>
						<!-- <div class="form-group">
							<label class="col-lg-3 control-label" for="solicitude_number">Nº de Solicitud</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" id="solicitude_number" placeholder="Nº de Solicitud" filtered-input ng-model='solicitude.solicitude_number' ng-required="true">
							</div>
						</div> -->
						<!-- <div class="form-group">
							<label class="col-lg-3 control-label" for="reception_date">F. Recepción</label>
							<div class="col-lg-6">
								<p class="input-group">
									<input class="form-control" type="text" id="reception_date" placeholder="Fecha de Recepción" onkeydown="return noKey(event);" name='reception_date' ng-model="solicitude.reception_date" uib-datepicker-popup="dd-MM-yyyy" is-open="datepicker.reception_date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" current-text='Hoy' clear-text='Borrar' close-text="Cerrar">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event, 'reception_date')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div> -->
						<div class="form-group">
							<label class="col-lg-4 control-label"><strong>Razon Social:</strong></label>
							<div class="col-lg-8">
								<div class="radio">
									<label class="radio-inline">
										<input type="radio" name="solicitude.applicant_type" value='Citizen' ng-click='getApplicant("citizen")'>
										Natural
									</label>
								<!-- </div>
								<div class="radio"> -->
									<label class="radio-inline">
										<input type="radio" name="solicitude.applicant_type" value="Institution" ng-click='getApplicant("institution")'>
										Jurídica
									</label>
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="solicitude.applicant_id">
							<label class="col-lg-4 control-label"><strong>{{solicitude.applicant_type | indentification}}:</strong></label>
							<div class="col-lg-8">
								<label class="form-label">{{solicitude.identification}}</label>
								<input type="hidden" name="applicant_id" value="{{solicitude.applicant_id}}" ng-model='solicitude.applicant_id'>
							</div>
						</div>
						<div class="form-group" ng-show="solicitude.applicant_id">
							<label class="col-lg-4 control-label"><strong>Solicitante:</strong></label>
							<div class="col-lg-8">
								<label class="form-label">{{solicitude.full_name}}</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-4 control-label" for="document_date"><strong>F. Documento:</strong></label>
							<div class="col-lg-8">
								<p class="input-group">
									<input class="form-control" type="text" id="document_date" placeholder="Fecha del Documento" onkeydown="return noKey(event);" name='document_date' ng-model="solicitude.document_date" uib-datepicker-popup="dd-MM-yyyy" is-open="datepicker.document_date" datepicker-options="dateOptions" ng-required="true" none-key current-text='Hoy' clear-text='Borrar' close-text="Cerrar">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event, 'document_date')"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-4 control-label" for="topic"><strong>Asunto:</strong></label>
							<div class="col-lg-12">
								<textarea class="form-control" id="topic" placeholder="Asunto" rows="6" ng-model="solicitude.topic"></textarea>
							</div>
						</div>
						<div class="align-center">
							<button type="reset" class="btn btn-link btn-sm" ng-click="clear()" ng-disabled="form.$submitted">Cancelar</button>
							<button type="submit" class="btn btn-primary btn-sm" ng-disabled="form.$submitted">Guardar</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div ng-include="template"></div>
</div>