<div class="col-md-12" ui-view>
	<div ui-view='show'></div>
	<div ui-view='assign'>
  <section class="col-md-6" ng-show="assigned.length">
      <article class="panel panel-success" ng-repeat="theme in assigned">
        <div class="panel-heading">
          <h3 class="panel-title">{{ theme.name }}</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="assign in theme.assign_solicitude">
            <h6>- {{ assign.area_means.area.name }}</h6>
            <ul>
              <li ng-repeat="area in theme.areas">
                <!-- <span>{{ area.name }}<strong ng-if="area.meansSelected != 1 && area.meansSelected != undefined">({{ means(area.meansSelected, area.means) }})</strong></span> -->
                <span uib-tooltip="{{area.director.full_name}}">{{ area.name }}<strong ng-if="area.meansSelected != 1 && area.meansSelected != undefined">({{ means(area.meansSelected, area.means) }})</strong></span>
                <!-- <span uib-popover="{{area.director.full_name}}" popover-trigger="mouseenter">{{ area.name }}<strong ng-if="area.meansSelected != 1 && area.meansSelected != undefined">({{ means(area.meansSelected, area.means) }})</strong></span> -->
              </li>
            </ul>
          </div>
        </div>
      </article>
    </section>
    <section class="col-md-6" ng-show="!assigned">
      <h3>¡Esta solicitud no posee asignaciones!</h3>
    </section>
  </div>
</div>
