<div class="col-md-12" ui-view>
	<div ui-view='show'></div>
	<div ui-view='assign'>
  <section class="col-md-6" ng-show="assigned">
      <article class="panel panel-success" ng-repeat="theme in assigned">
        <div class="panel-heading">
          <h3 class="panel-title">{{ theme.name }}</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="assign in theme.assign_solicitude">
            <!-- <h6>- {{ assign.area_means.area.name }}</h6> -->
            <ul>
              <li>
                <span uib-tooltip="{{assign.area_means.area.director.full_name}}">
                  {{ assign.area_means.area.name }}
                  <strong>
                    ({{ assign.area_means.means.name }})
                  </strong>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </section>
    <section class="col-md-6" ng-show="notAssigned">
      <h3>¡Esta solicitud no posee asignaciones!</h3>
    </section>
  </div>
</div>
