<div class="col-md-12" ui-view>
  <div ui-view='show'></div>
  <div ui-view='assign'>
    <section class="col-md-6 col-lg-5" ng-show="assigned">
      <article class="panel panel-primary" ng-repeat="(keyTheme, theme) in assigned">
        <div class="panel-heading">
          <h3 class="panel-title">{{ theme.name }}</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="(keyAssign, assign) in theme.assign_solicitude">
            <!-- <h6>- {{ assign.area_means.area.name }}</h6> -->
            <ul class="padding-none">
              <li class="list-none">
                <span class="button-status" ng-class="statusSelect(assign.status)" uib-tooltip="{{assign.status}}"></span>
                <!-- <span uib-tooltip="{{assign.area_means.area.director.full_name}}"> -->
                <span uib-tooltip="{{assign.area_means.area.director.full_name}}">
                  {{ assign.area_means.area.name }}
                  <strong  ng-if="assign.area_means.means.id != 1">
                    ({{ assign.area_means.means.name }})
                  </strong>
                </span>
                <div ng-if="can('change-state-assign-solicitude')" class="float-right" style="margin-top: -3px;" ng-class="disable(assign.status)">
                  <a class="btn btn-xs btn-warning glyphicon glyphicon-refresh" uib-tooltip="Act. Estado" ng-init="isCollapsed[keyTheme][keyAssign] = true" ng-click="isCollapsed[keyTheme][keyAssign] = !isCollapsed[keyTheme][keyAssign]"></a>
                </div>
                <div ng-if="can('change-state-assign-solicitude')" uib-collapse="isCollapsed[keyTheme][keyAssign]">

                  <form class="well well-sm margin-none" ng-submit="saveUpdate(keyTheme, keyAssign, newStatus, assign.id)">
                    <label for="select" class="control-label" ><strong>Estado:</strong></label>
                    <select class="align-middle" name="status" id="status" ng-init="newStatus = assign.status" ng-model="newStatus" ng-required="true" style="width: 120px;">
                      <option value="Enviado">Enviado</option>
                      <!-- <option value="Leído">Leído</option> -->
                      <option value="Aceptado">Aceptado</option>
                      <option value="Rechazado">Rechazado</option>
                      <option value="Atendido">Atendido</option>
                    </select>
                    <div ng-if="showComment(newStatus)">
                      <label for="observation" class="control-label display-block"><strong>Observación:</strong></label>
                      <textarea name="observation" id="observation" rows="2" class="form-control" resisable="false" placeholder="Observación" ng-model="observation[keyTheme][keyAssign]" ng-required="true"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-xs">Actualizar</button>
                  </form>
                </div>
                <section ng-if="assign.observation.length" ng-repeat="observation in assign.observation">
                  <blockquote ng-class="backgroundStatus(observation.status)">
                    <div ng-init="viewEdit[keyTheme][keyAssign][$index] = false" ng-hide="viewEdit[keyTheme][keyAssign][$index]">
                      <div class="float-right" style="margin-top: -3px;">  
                        <a ng-if="can('change-state-assign-solicitude')" class="btn btn-xs btn-warning glyphicon glyphicon-pencil" uib-tooltip="Editar" ng-click="editObservation(keyTheme, keyAssign, $index)"></a>
                      </div>
                      <span class="text-muted"><strong>{{observation.status}}</strong> - {{observation.updated_at | dateTime: "dd 'de' MMMM yyyy 'a las' hh:mma"}}</span>
                      <p>{{observation.body}}</p>
                    </div>
                    <div ng-show="viewEdit[keyTheme][keyAssign][$index]">
                      <textarea name="observation" id="observation" rows="2" class="form-control" resisable="false" placeholder="Observación" ng-init="newObservation = observation.body" ng-model="newObservation" ng-required="true"></textarea>
                      <button type="button" class="btn btn-link btn-xs" ng-click="cancel(keyTheme, keyAssign, $index)">Cancelar</button>
                      <button type="button" class="btn btn-primary btn-xs" ng-click="updateObservation(keyTheme, keyAssign, $index, observation.id, newObservation)">Guardar</button>
                    </div>
                  </blockquote>
                </section>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </section>
    <section class="col-md-5" ng-show="notAssigned">
      <h3 class="align-center">¡Esta solicitud no posee asignaciones!</h3>
    </section>
  </div>
</div>